<!DOCTYPE html> 
<html dir="ltr" lang="en-US">

<head>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- ============================================
        Stylesheets
    ============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
	<%=stylesheet_link_tag "style.css" %>

    <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="css/retina.css" />
	<%=stylesheet_link_tag "colors.php" %>
	<%=stylesheet_link_tag "tipsy.css" %>
	<%=stylesheet_link_tag "bootstrap.css" %>
	<%=stylesheet_link_tag "font-awesome.css" %>
	<%=stylesheet_link_tag "magnific-popup.css" %>
    <link rel="stylesheet" href="css/ls/css/layerslider.css" type="text/css" />
    
    
    
    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	
	
    <!-- ============================================
        External JavaScripts
    ============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/greensock.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="js/jquery.layerslider.js"></script>
    
    
    <!-- ============================================
        Document Title
    ============================================= -->
	<title>Laqda</title>
    
    
    <style type="text/css">
    
        .layer-features p {
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
			padding: 0px 10px;
			height: 30px;
			line-height: 30px;
			box-shadow: 0px 4px 10px -5px black;
			color: white;
			font-size: 20px;
			background: #8bae4e;
			background: -moz-linear-gradient(left, #8bae4e 0%, #b1c758 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8bae4e), color-stop(100%,#b1c758));
			background: -webkit-linear-gradient(left, #8bae4e 0%,#b1c758 100%);
			background: -o-linear-gradient(left, #8bae4e 0%,#b1c758 100%);
			background: -ms-linear-gradient(left, #8bae4e 0%,#b1c758 100%);
			background: linear-gradient(to right, #8bae4e 0%,#b1c758 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bae4e', endColorstr='#b1c758',GradientType=1 );
	   }
       
       .l1-s4 {
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
			padding: 0px 10px;
			height: 40px;
			line-height: 40px;
			box-shadow: 0px 4px 10px -5px black;
			color: white;
			text-shadow: none;
			font-size: 28px;
			color: #4f6716;
			background: white;
		}
    
    </style>
    

</head>

<body>


    <div id="wrapper" class="clearfix">
    
    
        
        
        <div id="top-bar">
            
            <div class="container clearfix">
        
                <div id="top-menu">
                
                    <ul>
                    
                        <li><span>/</span><a href="index.html">Home</a></li>
                        <li><span>/</span><a href="#">EN <i class="fa fa-angle-down norightmargin"></i></a>

                            <ul>
                                <li><a href="#"><img src="images/icons/flags/arabic.png" alt="عربي" title="عربي" /> عربي</a></li>
                            </ul>

                        </li>
                                            
                    </ul>
                
                </div>
            
            
                <div id="top-social">
                
                    <ul>
                    
                        <li class="ts-instagram"><a href="http://instagram.com/laqda_ae"><div class="ts-icon"></div><div class="ts-text">@laqda_ae</div></a></li>
                        <li class="ts-mail"><a href="feedback.html"><div class="ts-icon"></div><div class="ts-text">WeWantYourFeedback!</div></a></li>
                        
                    </ul>
                
                </div>
            
            </div>
        
        </div>
    
        
        <div id="header">
            <div class="container clearfix">

                <div id="main-logo">
                
                 <%= image_tag("logo.png") %>
                
                
                </div>
            </div>
       
        </div>
        
        
        
        
        <div id="content">
        
        
            <div class="content-wrap">
            
            
                <div class="container clearfix">
                
                
     <!--               <div class="col_full center">
                    
                        <div id="main-search">
                    
                        <form id="main-search-form" action="search_result.html">
                        
                            <input id="main-search-input" name="q" value="" placeholder="What are you craving for?" type="text">

                            <input id="main-search-submit" class="btn-primary" type="submit" name="sub" value="">                       
                        </form>


                    
                        </div>


                        <div class="dotted-divider"></div> 

                                                               
                    </div>               -->

                    <div class="col_full center">

                      <h2>Appeal business on Laqda for free!</h2>

                      <a class="simple-button inverse large" href="#">Register with Instagram</a>


                    </div>

                    <div class="dotted-divider"></div> 
                    
                    <div class="col_full center">
                    
                        <h2>What are you craving for?</h2>

                        <div id="h-cat" class="col_one_third clearfix">

                          <div class="h-cat-image">
                          <%= image_tag("category/cat_fashion.png") %>


                          </div>

                          <div class="h-cat-title">
                        

                            <h3 title="Fashion"><a href="h-cat-single.html">Fashion</a></h3>
                          </div>

                        </div>

                        <div id="h-cat" class="col_one_third clearfix">

                        <div class="h-cat-image">       
                                <%= image_tag("category/cat_food.png") %>
                            </div>
                            
                            <div class="h-cat-title">                            
                                <h3 title="Food"><a href="h-cat-single.html">Food</a></h3>                            
                            </div>

                        </div>

                        <div id="h-cat" class="col_one_third col_last clearfix">

                        <div class="h-cat-image">
                                <%= image_tag("category/cat_electronics.png") %>



                            
                            </div>
                            
                            <div class="h-cat-title">
                            
                                <h3 title="Electronics/Entertainment"><a href="h-cat-single.html">Electronics/Entertainment</a></h3>
                            
                            </div>

                        </div>

                        <div id="h-cat" class="col_one_third clearfix">

                          <div class="h-cat-image">
                            
                             <%= image_tag("category/cat_health_beauty.png") %>
                            
                                
                            
                            </div>
                            
                            <div class="h-cat-title">
                            
                                <h3 title="Health/Beauty"><a href="h-cat-single.html">Health/Beauty</a></h3>
                            
                            </div>
                        
                        </div>

                        <div id="h-cat" class="col_one_third clearfix">

                          <div class="h-cat-image">
                            
                                <%= image_tag("category/cat_home.png") %>

    

                            
                            </div>
                            
                            <div class="h-cat-title">
                            
                                <h3 title="Home"><a href="h-cat-single.html">Home</a></h3>
                            
                            </div>

                        </div>

                        <div id="h-cat" class="col_one_third col_last clearfix">

                          <div class="h-cat-image">
                            
                                <%= image_tag("category/cat_car_sports.png") %>
                            
                            </div>
                            
                            <div class="h-cat-title">
                            
                                <h3 title="Car/Sports"><a href="h-cat-single.html">Car/Sports</a></h3>
                            
                            </div>

                        </div>



                </div>
            
            
            </div>
        
        
        </div>

    
    
    <div id="gotoTop" class="fa fa-angle-up"></div>

        <div class="clear"></div>
        
        <div id="copyrights" class="copyrights-dark">
        
            <div class="container clearfix">
        
            
                <div class="col_half">
                
                    &copy; 2014 Laqda All Rights Reserved                
                </div>
                
                <div class="col_half col_last tright">
                
                    <a href="about.html">about</a><span class="link-divider">/</span><a href="team.html">the team</a><span class="link-divider">/</span><a href="tos.html">terms of service</a>
                
                </div>
            
            
            </div>
        
        </div>
    </div>
</div>

    <script type="text/javascript" src="js/custom.js"></script>


</body>

</html>